asgiref==3.5.2
backports.zoneinfo==0.2.1
Django==4.0.5
django-appconf==1.0.5
django-imagekit==4.1.0
pilkit==2.0
Pillow==9.1.1
six @ file:///AppleInternal/BuildRoot/Library/Caches/com.apple.xbs/Sources/python3/python3-110/six-1.15.0-py2.py3-none-any.whl
sqlparse==0.4.2
